<article class="card">
    <div class="card-body">
        {{> card-header}}
        {{#each data}}
        <div class="info-card-item">
            <div class="h5 text-primary mb-0">{{title}}</div>
            {{#if subtitle}}
            <div class="h6 text-muted mb-3">{{subtitle}}</div>
            {{/if}}
            <div class="info-card-item-year text-black-50 small">
                <i class="fas fa-calendar-alt"></i>
                <span class="year-from">{{from}}</span>
                -
                <span class="year-to">{{to}}</span>
            </div>
            <div class="info-card-item-content">
                {{description}}
            </div>
        </div>
        {{/each}}
    </div>
</article>